<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <!--
        ProcessName "LABELER"
        -->
        <add key="ProcessName" value="LABELER" />
        <!--
        BACKUP_PATH         MapData Backup folder
        NFD_PATH            NFD folder
        -->
        <add key="BACKUP_PATH" value="C:\BACKUP" />
        <add key="NFD_PATH" value="C:\NFD" />
        <add key="MAPVIEWER" value="C:\Mapviewer171.exe"/>
        <add key="TEMPMAP" value="C:\TMPMAP"/>
        <add key="PASSWORD" value="68:"/>
        <add key="RECIPE_PATH" value="C:\RECIPE"/>
        <add key="STRIP_TEMP_PATH" value="C:\Strip_TEMP"/>
        <add key="PORTNAME" value="COM1"/>
        <add key="BAUDRATE" value="9600"/>
        <add key="PARITY" value="0"/>
        <add key="DATABITS" value="8" />
        <add key="STOPBITS" value="2" />
        <add key="AUTO" value="True" />
    </appSettings>
    <connectionStrings>
        <add name="NfdMap" connectionString="user id=test;Data Source=LSIATP\SQLEXPRESS;Initial Catalog=NfdMapMapdb;Connect Timeout = 60;password=test"
            providerName="System.Data.SqlClient" />
        <add name="StripMap" connectionString="user id=test;Data Source=LSIATP\SQLEXPRESS;Initial Catalog=StripMapdb;Connect Timeout = 60;password=test"
            providerName="System.Data.SqlClient" />
        <add name="MapConvert.My.MySettings.NfdMapdbConnectionString"
            connectionString="Data Source=LSIATP\SQLEXPRESS;Initial Catalog=NfdMapdb;Persist Security Info=True;User ID=test"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
