<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MAP_Dicer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MAP_Dicer.My.MySettings.DBxConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;Persist Security Info=True;User ID=dbxuser"
            providerName="System.Data.SqlClient" />
        <add name="MAP_Dicer.My.MySettings.APCSDBConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=APCSDB;User ID=APCSDBUSER"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MAP_Dicer.My.MySettings>
            <setting name="MCNo" serializeAs="String">
                <value>DC-01</value>
            </setting>
            <setting name="HasZ2Blade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotFound" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Running" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NotRun" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MachineNotFound" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ErrorLotStatus" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ErrorFlow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ErrorConnectDatabase" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ErrorReadDatabase" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ErrorWriteDatabase" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ErrorOther" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RunOffline" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GL_MAPGroup" serializeAs="String">
                <value>MAP-GL</value>
            </setting>
            <setting name="OP_MAPGroup" serializeAs="String">
                <value>MAP-OP</value>
            </setting>
            <setting name="MC_MAPGroup" serializeAs="String">
                <value>MAP-OP</value>
            </setting>
            <setting name="AuthenticationUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MachineType" serializeAs="String">
                <value>DFD6340</value>
            </setting>
        </MAP_Dicer.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ApcsWebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webserv.thematrix.net/apcscontrolsystem/apcswebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ApcsWebServiceSoap"
                contract="RohmService.ApcsWebServiceSoap" name="ApcsWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
